@model IEnumerable<MVC.Models.MvcPessoa>

@{
    ViewBag.Title = "Pague Veloz - Teste";
}
<br />
<form method="get" action="@Url.Action("Index", "Pessoa")">
    <fieldset>
        <legend>Filtrar pessoas</legend>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" name="nome" value="" class="form-control" placeholder="Informe o nome" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Data Nascimento (Início)</label>
                    <input type="date" name="dataNascimentoInicio" value="" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Data Nascimento (Fim)</label>
                    <input type="date" name="dataNascimentoFim" value="" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Data Cadastro (Início)</label>
                    <input type="date" name="dataCadastroInicio" value="" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Data Cadastro (Fim)</label>
                    <input type="date" name="dataCadastroFim" value="" class="form-control" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        <button type="reset" class="btn btn-info">Limpar</button>
    </fieldset>
</form>
<br />
<p>
    @Html.ActionLink("Cadastrar Pessoa", "Create")
</p>
<br />
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            CPF
        </th>
        <th>
            Data Nascimento
        </th>
        <th>
            Data Cadastro
        </th>
        <th>
            Telefones
        </th>
        <th>
            RG
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @item.DataNascimento.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RG)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            if ('@Session["MsgEstadoNaoPreenchido"]' != "") {
                window.alert('@Session["MsgEstadoNaoPreenchido"]')
            }
        });

    </script>
}
